$primary-color: #1F1E1B;
$accent-color: #FF8303;
$primary-active: #1B1A17;
$secondary-active: #A35709;
$font-color: #F0E3CA;

.tasks {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &-elem-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 8px;
    cursor: move;

    &.dragging {
      opacity: 0.5;
    }

    &-shape {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 16px 10px;
      border-radius: 8px;
      gap: 16px;
      background-color: $primary-active;
      border-color: $secondary-active;
    }

    &-text {
      display: flex;
      flex-direction: column;

      h3 {
        font-size: 22px;
        font-weight: 500;
      }

      p {
        font-size: 14px;
        font-weight: 400;
        margin-top: 4px;
      }
    }

    button {
      min-width: 32px;
      min-height: 32px;
      height: 32px;
      width: 32px;
      border-radius: 5px;
      border-color: $secondary-active;
      color: $accent-color;
    }

    &__actions {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      gap: 8px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        min-width: 36px;
        min-height: 36px;
        border-radius: 6px;
        border: 2px solid $secondary-active;
        background-color: $primary-color;
      }

      &-details {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 16px;
        color: white !important;
      }
    }
  }
}